@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

@theme {
  --animation-ping-large: ping-large 10s ease-in-out infinite;

  @keyframes ping-large {
    75%,
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer components {
  .navItem {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-medium font-sans hover:bg-white/10 transition duration-300;
  }
  .navItem_active {
    @apply bg-white text-gray-900 hover:text-gray-900 hover:bg-white/70;
  }

  .circle {
    @apply absolute inset-0  border  top-1/2 left-1/2 -translate-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5 overflow-x-hidden;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }

  .animate-vertical-scroll {
    animation: scroll-vertical 12s linear infinite;
  }

  @keyframes scroll-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: scroll-marquee 40s linear infinite;
  display: inline-flex;
  white-space: nowrap;
}

.marquee-wrapper {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

html {
  scroll-behavior: smooth;
}
